* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
  color: $uoc-corporate;
}

h1 {
  font-size: $h1size;
  color: $main-green;
}

h2 {
  margin: 100px 0 50px 0;
}

h3 {
  margin-top: 0;
}

h1, h2, h3 {
  font-family: $font-family-serif;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.container {
  max-width: $containerMaxWidth;
  margin: auto;
}

.initialSection {
  background: $light-green;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $main-green;

  i {
    margin-left: 5px;
  }

  .initialSection__title {
    position: absolute;
    background-color: white;
    padding: 50px 200px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px -10px $main-green;
  }
  
  .initialSection__description {
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5rem;

    p {
      width: 400px;
      font-size: 1.5rem;
    }

    i {
      font-size: 3rem;
    }
  }
}

.container__Plant {
  display: flex;
  flex-direction: row;
  margin-bottom: 70px;

  img {
    width: 100%;
    height: max-content;
  }

  .container__PlantText {
    width: 60%;
  }
}

.container__Plant--left {
  p, h3 {
    text-align: right;
  }

  img {
    margin-right: 30px;
  }
}

.container__Plant--right {
  img {
    margin-left: 30px;
  }
}

.container__Plant--roundImg {
  border-radius: 50%;
}

.container__new {
  background-color: $light-green;
}


.container__cat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  img {
    width: 100%;
  }

  :not(img:last-of-type) {
    margin-right: 50px;
  }
}








.uoc-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 200px;
  height: auto;

  @media (min-width: $mqMinWidth) {
    max-width: none;
  }
}

.uoc-title {
  font-family: $font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: $uoc-corporate;

  @media (min-width: $mqMinWidth) {
    font-size: 36px;
  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}